section {
  width: 500px;
  height: 500px;
  background-color: navy;
}

#rgba {
  width: 50%;
  height: 50%;
  background: rgba(255, 255, 255, 0.7);
}

#opacity {
  /*affects entire element*/
  width: 50%;
  height: 50%;
  background-color: rosybrown;
  opacity: 0.3;
}
