body {
  display: block;
}
div {
  width: 100px;
  height: 100px;
  background-color: #264653;
  border: 2px solid #2a9d8f;
  margin: 10px;
  display: inline-block;
}

#middle {
  background-color: #e76f51;
  border: 2px solid #f4a261;
}

#static #middle {
  position: static;
}

#relative #middle {
  /*relative stays in the flow*/
  position: relative;
  top: 50px;
  left: 50px;
}

#absolute {
  /*gets removed from flow and looks for parent it can move around*/
  position: relative;
}
#absolute #middle {
  /*positioned to its closest positioned ancestor*/
  position: absolute;
  top: 50px;
  left: 50px;
}
/*positioned means: has a position set to anything other than static*/
#fixed #middle {
  /*positioned relative to initial containing block*/
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0;
  bottom: 800px;
  border-top-style: none;
}
#sticky #middle {
  position: -webkit-sticky;
  position: sticky;
  background-color: skyblue;
  top: 20px;
}

#top {
  margin-top: 120px;
}
